* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: rgb(250,247,247);
}
.mag {
    position: fixed;
    left: 90%;
    top: 20%;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background: url('../img/cart.png') 10px 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    background-size: 40px;
    background-repeat: no-repeat;
    z-index: 9999;
    transition-duration: 500ms;
}
.mag:hover {
    box-shadow: 0 0 20px rgb(65,17,102);
}
.numMag {
    position: relative;
    top: 50px;
    left: 45px;
    width: 14px;
    height: 14px;
    font-size: 0.8em;
    text-align: center;
    padding: 3px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    background-color: red;
    animation: spin 1s infinite;
}
.fix {
    position: fixed;
    left: 95%;
    top: 70%;
}
.fix1 {
    position: fixed;
    left: 95%;
    top: 78%;
}
.fix > img {
    height: 50px;
}
.fix1 > img {
    height: 50px;
}
.fix1:hover {
    animation: go 1s infinite;
}
.fix:hover {
    animation: go 1s infinite;
}
@keyframes spin {
    50% {
        transform: scale(1.2);
    }
}
@keyframes go {
    50% {
        transform: scale(2)
    }
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    height: 7em;
    background-color: rgb(255, 255, 255);
}
header > img {
    height: 7em;
}
.line {
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
    margin-left: 1em;
}
.line2 {
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
    margin-left: -1em;
}
.phone {
    display: inline;
    vertical-align: top;
    color: rgb(134,40,187);
    font-weight: 700;
}
.linkPhone {
    margin-top: 0.5em;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    font-size: 0.7em;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(255,222,116);
}
.insta {
    height: 3em;
    vertical-align: baseline;
}
.map {
    position: relative;
    top: -10px;
    left: 40px;
}
header > input {
    box-sizing: border-box;
    display: inline-block;
    width: 120px;
    background: url('../img/search.png') 7px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 48px;
    vertical-align: top;
    margin-top: 1.6em;
    border-radius: 7px;
    border: 3px solid rgb(24,159,251);
    text-align: center;
    margin-left: 20px;
    font-size: 1.3em;
}
header > input:focus {
    background: none;
}
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
.midl {
    box-sizing: border-box;
    background: url('../img/headBG.png');
    background-repeat: no-repeat;
    height: 634px;
}
.content {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
}
menu {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    height: 80px;
    padding: 1px 20px;
    display: flex;
    justify-content: space-between;
}
menu > img {
    height: 1em;
    margin-top: 35px;
}
.menuItem {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 25px 10px;
    font-weight: 100;
    transition-duration: 500ms;
}
.menuItem:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    box-shadow: 0 -15px 25px rgb(225,194,234);
}
.h1text {
    margin-top: 5em;
}
.h1 {
    color: rgb(255, 255, 255);
    font-weight: 100;
    letter-spacing: 3px;
}
h1 > span {
    color: rgb(255,228,0);
    font-size: 1.5em;
    font-weight: 600;
}
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
#twoPosts {
    background: url('../img/foot.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#twoPosts > h1 {
    color: rgb(255, 255, 255);
}
.midl1, .midl2 {
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.midl1 > h1 {
    color: rgb(163,43,199);
    text-align: center;
    margin: 1em 0;
    font-weight: 100;
}
.midl2 > h1 {
    color: rgb(163,43,199);
    text-align: center;
    margin: 1em 0;
    font-weight: 100;
}
.navigate {
    display: inline-block;
    height: 100%;
    width: 20%;
    vertical-align: top;
}
.navigate > img {
    width: 95%;
}


.posts {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: 74%;
}
.cartItem {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    height: 440px;
    border: 3px solid rgb(225,194,234);
    border-radius: 10px;
    margin-left: 1%;
    margin-bottom: 1em;
    background-color: white;
}
.imgItem {
    height: 310px;
    margin-top: 2px;
    width: 98%;
    margin-left: 1%;
    border-radius: 8px;
} 
.headText {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.7em;
    color: rgb(104,37,173);
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
}
.line1 {
    font-size: 0.7em;
    font-weight: 200;
    position: relative;
    color: rgb(142,142,142);
    width: 90%;
    margin-left: 5%;
}
.line1 span {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 0px 2px;
}
.line1:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(142,142,142);
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 0;
}
.blockSize {
    position: relative;
    left: 37%;
    top: -5px;
}
.size {
    color: rgb(142,142,142);
    border: 1px solid rgb(142,142,142);
    background-color: rgb(255, 255, 255);
    font-size: 0.7em;
    padding: 1px 3px;
    border-radius: 3px;
    outline: none;
}
.size:hover {
    background-color: rgb(255,228,0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.size:focus {
    background-color: rgb(255,228,0);
    color: rgb(255, 255, 255);
}
.sum {
    margin-top: 15px;
    margin-left: 10px;
    color: rgb(148,42,193);
    font-weight: 700;
}
.sub {
    float: right;
    margin-right: 10px;
    background: url('../img/cart.png') 3px 3px;
    background-repeat: no-repeat;
    background-size: 20%;
    border: 2px solid rgb(148,42,193);
    color: rgb(148,42,193);
    border-radius: 5px;
    background-color: rgb(255,228,0);
    padding: 5px;
    padding-left: 25px;
    margin-top: -5px;
    font-weight: 600;
}
img.sale {
    position: absolute;
    height: 60px;
    width: 60px;
}
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
.frame {
    background: url('../img/frame.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1720px;
    width: 100%;
}
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
footer {
    background: url('../img/foot.png');
    background-repeat: no-repeat;
    height: 634px;
    background-size: cover;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
.footContent {
    padding-top: 6em;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
}
.footContent > h1 {
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 400;
    padding-bottom: 1em;
    padding-top: 1em;
}
.footContent > h2 {
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: 400;
    padding-bottom: 1em;
    padding-top: 1em;
}
.footContent > p {
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 10;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.foot {
    height: 6em;
    background-color: rgb(65,17,102);
}
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
.headFilter {
    margin-bottom: 1em;
    width: 100%;
}
.filter {
    position: relative;
    z-index: 88;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgb(140, 140, 140);
    background-color: rgb(255, 255, 255);
}
.textFilter {
    position: relative;
    display: inline-block;
    font-size: 0.8em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(140, 140, 140);
    border-radius: 10px;
    padding: 5px;
    top: -13px;
    left: -15px;
    padding-left: 11px;
}

.accordion {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 3px;
    padding-top: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(140, 140, 140);
    text-align: start;
    outline: none;
    font-size: 0.9em;
    transition: 0.5s;
    font-weight: 600;
    vertical-align: text-bottom;
}
.navFilter {
    padding: 5px;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.active, .accordion:hover {
    background-color: rgb(162, 94, 214);
    color: rgb(255, 255, 255);
}

.accordion:after {
    content: url('../img/arrow.png');
    color: #fff;
    font-size: 0.9;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transition-duration: 500ms;
}

.active:after {
    content: url('../img/arrow.png');
    transform: rotate(90deg);
}

.panel {
    padding: 0 8px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.btnFilter {
    color: rgb(172,69,212);
    border: 2px solid rgb(172,69,212);
    border-radius: 10px;
    padding: 4px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    outline: none;
}
.btnFilter:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(172,69,212);
}
div.panel > option {
    width: 100%;
    background-color: rgb(172,69,212);
    color: rgb(255, 255, 255);
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    transition-duration: 700ms;
    padding: 3px;
}
div.panel > option:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(172,69,212);
    cursor: pointer;
}

.about {
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(255, 255, 255);
}
.about > h1 {
    color: rgb(111,38,177);
    text-align: center;
    margin: 2em 0;
    font-weight: 100;
}
.aboutText {
    color: rgb(98, 98, 98);
}
.aboutImg {
    margin-top: 1em;
    margin-bottom: 4em;
    display: inline-block;
    width: 60%;
}
.aboutImg2 {
    display: inline-block;
    width: 35%;
    margin-bottom: 4em
}
.gImg {
    width: 50%;
    height: 15em;
}
.gImg1 {
    width: 40%;
    height: 15em;
}
.gImg3 {
    width: 30%;
}
pre {
    font-family: sans-serif;
    color: rgb(98, 98, 98);
}